.header {
	height: 60px;
	background: #2AADE5;
  color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 998;

  padding: 12px 24px;
}

.title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 12px;
  font-size: 28px;
  line-height: 32px;
  color: #fff;
}